
.navbar-container{
    background-color: rgb(159, 186, 204);
    text-align: center;
    float: left;
    width: 100%;
    border-radius: 15px;
    
}
.navbar-item{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    float: left;
    font-weight: bold;
}
.navbar-item:hover{
    background-color: rgba(206, 142, 23, 0.5);
}

.layout{
  width: 100%;
  height: 100%;

}
.layout .header{
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  background-color: #1d5bd6;
  color: rgb(216, 228, 250);
  border-radius: 10px;
  text-align: center;
}

.layout .left-side{
  width: 20%;
  height: 100%;
  background-color: #e0e0e0;
  float: left;
  border-radius: 15px;
  background-color: #1d5bd6;
  
}
.layout .left-side .skills .text{
  width: 100%;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: rgb(3, 3, 1);
}
.layout .left-side .skills .text:hover{
  color: rgb(216, 228, 250);
  padding: 5px;
  font-weight: bold;
}
.layout .middle-side{
  width: 60%;
  height: 100%;
  background-color: rgb(229, 231, 203);
  float: left;
  border-radius: 15px;
  
}
.layout .middle-side .BaR{
  background-color: rgb(229, 231, 203);
  font-family:'Times New Roman', Times, serif;
  padding: 15px;
  text-align: center;
  border-radius: 15px;
  
  
}
.layout .middle-side .BaR .roundimg{
  border-radius: 50%;
  width: 20%;
  padding: 15px;
  font-weight: bold;
  
}
.layout .middle-side .BaR  .biography{
  font-size: 20px;
  font-weight: bold;
  color: #283a5e;
}
.layout .middle-side .btn{
  background-color: #5c79b1;
  color: rgb(216, 228, 250);
  border-radius: 15px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  padding: 7px;
  text-align: center;
  font-weight: bold;
  
}
.layout .right-side{
  width: 20%;
  height: 100%;
  background-color: #e0e0e0;
  float: left;
  border-radius: 15px;
  background-color: #1d5bd6;
  
}
.layout .right-side .right-side-item{
  width: 100%;
  height: 25%;
  background-color: #5371ac;
  border-radius: 15px;
}
.layout .right-side .right-side-item .text{
  width: 100%;
  border-radius: 15px;
  text-align: center;
  color: rgb(3, 3, 1);
}
.layout .right-side .right-side-item .text:hover{
  color: rgb(216, 228, 250);
  padding: 5px;
  font-weight: bold;
}
.footer{
  text-align: center;
  width: 100%;
  color: rgb(8, 8, 8);
  float: right;
}
body{
  background-color: #abb3c2;
}
.inputinfo{
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  border-radius: 15px;
  padding: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: rgb(3, 3, 1);
}